In [1]:
import pandas as pd

In [3]:
pf=pd.read_csv('salaries.csv')

In [4]:
pf.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [19]:
y_test=pf.iloc[:,-1]

In [20]:
y_test.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

In [21]:
company_n=LabelEncoder()

In [22]:
job_n=LabelEncoder()
degree_n=LabelEncoder()

In [23]:
pf['company']=company_n.fit_transform(pf['company'])

In [25]:
pf['job']=job_n.fit_transform(pf['job'])

In [26]:
pf['degree']=degree_n.fit_transform(pf['degree'])

    company  job  degree  salary_more_then_100k
0         2    2       0                      0
1         2    2       1                      0
2         2    0       0                      1
3         2    0       1                      1
4         2    1       0                      0
5         2    1       1                      1
6         0    2       1                      0
7         0    1       0                      0
8         0    0       0                      0
9         0    0       1                      1
10        1    2       0                      1
11        1    2       1                      1
12        1    0       0                      1
13        1    0       1                      1
14        1    1       0                      1
15        1    1       1                      1

In [32]:
X=pf.iloc[:,:3]

In [33]:
X.head()

   company  job  degree
0        2    2       0
1        2    2       1
2        2    0       0
3        2    0       1
4        2    1       0

In [34]:
y=pf.iloc[:,-1]

In [35]:
y.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 47, test_size = 0.25)

In [37]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
clf=DecisionTreeClassifier(criterion='entropy')

In [56]:
clf.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [57]:
clf.score(X,y)

1.0

In [58]:
y_pred =  clf.predict(X_test)

In [59]:
y_pred

array([0, 1, 1, 1])

In [60]:
from sklearn.metrics import accuracy_score
print('Accuracy Score on train data: ', accuracy_score(y_true=y_train, y_pred=clf.predict(X_train)))
print('Accuracy Score on test data: ', accuracy_score(y_true=y_test, y_pred=y_pred))

Accuracy Score on train data:  1.0
Accuracy Score on test data:  1.0

In [61]:
clf.predict([[2,1,1]])

array([1])